{% set circus = salt['grains.filter_by']({
	'Debian': {
	    'pkg': 'circus',
	    'systemdtarget': '/etc/systemd/system/circus.service',
	    'systemdsource': 'salt://circus/circus-debian.service',
	    'configtarget': '/etc/circus.ini',
	    'configsource': 'salt://circus/circus.ini',
	    'circusdir': '/etc/circus.d',
	    'service': 'circus',
	},
	'RedHat': {
	    'pkg': 'circus',
	    'systemdtarget': '/etc/systemd/system/circus.service',
	    'systemdsource': 'salt://circus/circus-redhat.service',
	    'configtarget': '/etc/circus.ini',
	    'configsource': 'salt://circus/circus.ini',
	    'circusdir': '/etc/circus.d',
	    'service': 'circus',
	},
}, merge=salt['pillar.get']('circus:lookup')) %}